/* for the whole page */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgba(244, 253, 255);
  overflow: auto;
  overflow-x: hidden;
}



/* navbar / header */
#Logo {
  position: relative;
  width: 65px;
  height: 85px;
  top: -5px;
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 16px;
}

/* for the menus */
/* for mobile layout aswell */
#options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0.4;
  position: relative;
  right: -150px;
  color: rgb(223, 223, 223);
}

#dropDownLogo {
  display: none;
  position: relative;
  height: 60px;
  width: 65px;
  left: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1em;
  
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

/*hover animation for the mobile layout */

#dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 7, 20);
  border-radius: 0% 0% 5% 5%;
  top: 65px;
  width: 22.5vw;
  height: 25vh;
  animation: fromTop 1s ease-in-out;
}

#dropDownList {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    animation-delay: 2s;
    animation: fadeIn 2s ease-in-out;
}

.dropDownItems {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f4fdff;
    font-weight: lighter;
    font-style: italic;
    cursor: pointer;
}

/* the menus */

#Home {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-style: italic;
}

#About {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-style: italic;
}

#Contact {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-style: italic;
}

#title {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex: 0.2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgba(223, 228, 255);
  font-size: 32px;
  right: 250px;
}

#header {
  width: 100%;
  height: 75px;
  background-color: rgb(0, 7, 20);
  top: 0px;
  box-shadow: 0px 2px 2px 3px #f4fdff;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

/* Start Page at the top */

#start {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#startImage {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  filter: blur(2px);
}

#placeholderImg {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: radial-gradient(circle at 100%, #000000, #131212 65%, #dddde2 85%, #161616 90%);
}

#startWords {
  position: absolute;
  z-index: 30;
  font-size: 48px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #f4fdff;
  margin-bottom: 225px;
}

/*
#startButton {
  position: absolute;
  z-index: 30;
  height: 5rem;
  width: 300px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f4fdff;
  border-radius: 15%;
  color: #f4fdff;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}
*/

/*start button css*/

/* CSS */
.button-57 {
  position: absolute;
  overflow: hidden;
  border: none;
  border-radius: 999px;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 20px 100px 15px;
  text-decoration: none;
  cursor: pointer;
  background: #EBF1FC;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 100;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* when hovering the button */

#startButton:hover {
  background-color: rgba(255, 255, 255, 0.303);
}

/* Middle part */

#middle {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: end;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.square {
  display:flex;
  position: relative;
  width: 550px;
  height: 450px;
  background-image: url("./images/vines.svg");
  background-size: 750px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-size: 48px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #000000;
  overflow: hidden;
  margin: 15px;
  cursor: pointer;
}

.square:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 20px -3px, rgba(0, 0, 0, 0.2) 0px -10px 0px inset;
}

#firstArrow {
  display: flex;
  position: relative;
  max-width: 50px;
  margin: auto;
  flex-grow: 1;
  cursor:pointer;
}

.break {
  display: flex;
  flex-basis: 100%;
}

/* Websites projects part */

#websitePortfolio {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#websitePortfolio h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 42px;
}

#projectsDiv {
  display: flex;
  position: relative;
  width: 100%;
  align-items: space-around;
  justify-content: space-around;
  height: 100%;
  margin-top: 50px;
  flex-direction: column;
  transform: rotate(-3deg);
}

#projectsDiv :nth-child(even) {
  align-self: space-between;
}

.projects {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 25px;
  border: solid 1px white;
  border-radius: 15px;
}

.projectBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 7, 20);
  padding: 80px;
}

.projectBlock p {
  color: #dddde2;
  font-size: 15px;
  max-width: 500px;
}

#secondArrow {
  display: flex;
  position: relative;
  max-width: 50px;
  flex-grow: 1;
  cursor:pointer;
}

/* the art content */
/* this is the container for the art and logos showing */
#art {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* the text on the side */
/* left side */

#sideways {
  position: absolute;
  display: flex;
  font-size: 80px;
  top: 350vh;
  left: 5%;
  height: 50vh;
  width: 100px;
  text-align: center;
  text-justify: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #000000;
}

/* right side */

#sideways1 {
  position: absolute;
  display: none;
  font-size: 80px;
  top: 345vh;
  right: 5%;
  height: 50vh;
  width: 100px;
  text-align: center;
  text-justify: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #000000;
}

/* container for the displaying art or logos */

#row1 {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1400px;
  max-width: 1400px;
  scroll-behavior: smooth;
  margin: 10px;
}

/* the tabs on top */

#tabs {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 15px;
  padding-bottom: 25px;
}

/* Tabs */

#titleDigitalArt {
  cursor: pointer;
  text-decoration: underline 0.15em rgba(0, 0, 0, 1);
  padding-top: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-style: italic;
}
#titleLogos {
  cursor: pointer;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  padding-top: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-style: italic;
  border: #131212;
}

/* Hover on the tabs */

#titleLogos:hover,
#titleDigitalArt:hover {
  animation-name: text-decoration-color;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

/* css for the digital art container */
#digitalArt {
  display: flex;
  position: relative;
  width: 85%;
  max-width: 85%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-image: url(./images/vines.svg);
  background-size: 750px;
  background-repeat: repeat;
  background-position: left;
  border-radius: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* css for the art images */
#digitalArt img {
  display: flex;
  position: relative;
  cursor: pointer;
  height: 500px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  margin: auto;
  border-radius: 5%;
}

/* The logos container */

#Logos {
  display: none;
  position: relative;
  width: 85%;
  max-width: 85%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 5%;
  padding-bottom: 25px;
  padding-top: 25px;
  background-image: url(./images/vines.svg);
  background-size: 750px;
  background-repeat: repeat;
  background-position: left;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* logos */

#Logos img {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 400px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  background-color: #f4fdff;
  margin: auto;
  padding: 0px;
  border-radius: 5%;
}

/*Decoration*/
/* pilen för att komma längst upp på sidan */
#arrow {
  display: flex;
  position: fixed;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: black;
  right: 1rem;
  bottom: 2rem;
  animation-name: slideUp;
  animation-duration: 2s;
  z-index: 50;
  cursor: pointer;
}

/* hover animation for the pictures */
#digitalArt img:hover {
  transform: scale(1.015);
}
#Logos img:hover {
  transform: scale(1.015);
}

/* Lightbox */

.popUpDG .popUpImg { 
  position: fixed !important;
  height: 600px !important;
  top: 22.5vh; left:37.5vw;
  border: 5px solid white !important;
}

#digitalArt .popUpDG {
  display: none;
  position:fixed;
  top:0px;
  left:0px;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 1000;
}

#digitalArt .popUpDG span {
  position: absolute;
  top:0; right: 20px;
  font-size: 32px;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

/* Lightbox for Logos */

#Logos .popUpImg {
  position: fixed !important;
  height: 600px !important;
  top: 22.5vh; left:37.5vw;
  border: 5px solid white !important;
}

#Logos .popUpLogo {
  display: none;
  position:fixed;
  top:0px;
  left:0px;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 1000;
}

#Logos .popUpLogo span {
  position: absolute;
  top:0; right: 20px;
  font-size: 32px;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

/* keyframes animation */

@keyframes upDown {
  0% { bottom: 75px; }
  100% { bottom: 25px; }
}

@keyframes fromTop {
  0% { 
    height: 0vh;
  }
  85% {
    height: 27.5vh;
  }
  100% {
    height: 25vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(70%);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeoutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text-decoration-color {
  0% {
    text-decoration-color: rgb(0, 0, 0, 0);
    scale: (0);
  }
  100% {
    text-decoration-color: rgb(0, 0, 0, 1);
  }
}

@keyframes text-decoration-color-white {
  0% {
    text-decoration-color: rgba(255, 255, 255, 0);
    scale: (0);
  }
  100% {
    text-decoration-color: rgb(255, 255, 255);
  }
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Media screen for responsive layout */

@media screen and (max-width: 1560px) {
  #sideways,
  #sideways1,
  #title {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #middle {
    padding-bottom: 450px;
  }
}


@media screen and (max-width: 1024px) {
  #digitalArt,
  #Logos {
    width: 800px;
  }

  #digitalArt img {
    margin: 50px;
    width: 500px;
  }

  #Logos img {
    margin: 50px;
    width: 500px;
  }

  #options {
    display: none !important;
  }
  #dropDownLogo {
    display: flex;
  }

  .square {
    max-width: 1000px;
    max-height: 300px;
    margin: 30px;
  }
  #firstArrow {
    margin-top:200px;
  }

  #startWords {
    font-size: 80px;
  }

  #startButton {
    font-size: 32px;
  }

#middle {
  align-self: center;
}

.popUpDG .popUpImg { 
  top: 27.5vh; left:20vw;
}

#sideways1, #sideways2 {
  display:none
}

}

@media screen and (max-width: 800px) {
  #middle {
    padding-bottom: 300px;
  }
  #firstArrow {
    bottom: 100px;
  }
}

@media screen and (max-width:1024px) {

}